.App-header {
    width:75%;
    margin:0px auto;
  background-color: #7eba95;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.link-imgs{
    font-size: calc(200px + 2vmin);
    margin-top:15%
}

.resume-btn {
    background-color: #06604f;
    border-color: #06604f;
    /* margin: 10% 45%;
    width: 200px; */
}
